dist: trusty
sudo: required
language: php
php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2

services:
  - docker

addons:
  apt:
    packages:
    - mysql-server-5.6
    - mysql-client-core-5.6
    - mysql-client-5.6

cache:
  directories:
    - $HOME/.cache/bower
    - $HOME/.composer/cache
    - $HOME/.npm

env:
  global:
    - CORE_BRANCH=master
  matrix:
    - DB=sqlite

branches:
  only:
    - master
    - /^stable\d+(\.\d+)?$/

before_install:
  - php --version
  - php --info
  - composer install
  - mysql -u root -e "SELECT User FROM mysql.user;"
  - wget https://raw.githubusercontent.com/owncloud/administration/master/travis-ci/before_install.sh
  - bash ./before_install.sh user_ldap $CORE_BRANCH $DB
  - cd ../core
  - php occ app:enable user_ldap

script:
  # Test lint
  - cd ../core/apps/user_ldap
  - sh -c "if [ '$DB' = 'sqlite' ]; then find . -name \*.php -not -path './vendor/*' -exec php -l "{}" \;; fi"

  # Run phpunit tests
  - if [ $(phpenv version-name) != "7.1" ]; then vendor/bin/phpunit ; else vendor/bin/phpunit --no-coverage ; fi

  # Create coverage report
  - if [ $(phpenv version-name) != "7.1" ] ; then wget https://scrutinizer-ci.com/ocular.phar && php ocular.phar code-coverage:upload --format=php-clover clover.xml ; fi

  - sh -c "if [ '$INTEGRATION' = '1' ]; then tests/Integration/autotest.sh; fi"

after_success:
  - bash <(curl -s https://codecov.io/bash)

matrix:
  include:
    - php: 7.0
      env: DB=mysql
    - php: 7.0
      env: DB=pgsql
    - php: 5.6
      env: DB=mysql;INTEGRATION=1

  fast_finish: true
