parameters:
  bootstrapFiles:
    - %currentWorkingDirectory%/../../lib/base.php
  inferPrivatePropertyTypeFromConstructor: true
  treatPhpDocTypesAsCertain: false
  excludePaths:
    - %currentWorkingDirectory%/appinfo/Migrations/*.php
  ignoreErrors:
    -
      messages:
        - '!Parameter #1 \$link of method OCA\\User_LDAP\\ILDAPWrapper::bind\(\) expects resource, null given.!'
        - '!Parameter #1 \$link of method OCA\\User_LDAP\\ILDAPWrapper::errno\(\) expects resource, null given.!'
        - '!Parameter #1 \$link of method OCA\\User_LDAP\\ILDAPWrapper::error\(\) expects resource, null given.!'
        - "#Strict comparison using === between non-empty-string and '' will always evaluate to false.#"
      path: lib/Connection.php
    -
      message: '#^Dead catch [^"]* is never thrown in the try block.$#'
      path: lib/Access.php
    -
      message: "#Strict comparison using === between non-falsy-string and '' will always evaluate to false.#"
      path: lib/Wizard.php
